body {
  background-color: rgba(255, 128, 234, 0.9);
  font-family: "Delius Swash Caps", sans-serif;
  text-align: center;
  color: rgba(109, 0, 80, 0.7);
  background-image: url("hearts.png");
  background-repeat: repeat;
  background-size: 40vh 15vw; /* keeps original star size */
  background-attachment: fixed;

}

p, li {
  font-family: sans-serif;
}

.delius-swash-caps-regular { /*letra*/
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

#qsy {
  background-color: rgb(255, 180, 231);
  border: 2px solid rgb(155, 0, 129);
  width: 60vw;
  height: 80vh;
  border-radius: 15px;
  margin: auto;
  margin-top: 10vh;
  padding: 1px;
}

li {
 text-align: left;
}

h2 {
  margin: auto;
  color:rgba(125, 0, 75, 0.7);
  margin-bottom: 2vh;

}

.container {
  border: 1px solid rgb(255, 0, 8);
  margin: 5px 20px 5px 20px;
  padding: 10px;
  background-color: rgba(255, 90, 195, 0.9);
  border-radius: 10px;
}

img {
  height: 25vh;
  width: 30vw;
  margin-top: 1.5vh;
  border-radius: 10px;
}

a {
    color: rgba(132, 0, 83, 0.7);
    text-decoration: none;
}

a:hover {
    color: rgb(59, 55, 255);
    text-decoration: underline;
}

a:visited {
    color: rgb(140, 0, 255);
    text-decoration: underline;
}

a:focus {
    color: rgb(41, 0, 75);
    text-decoration: none;
}

a:hover, img:hover, div:hover {
  transform: scale(1.1);

}